<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet" />
    <script src="static/zxing.js"></script>
    <script src="static/index.js"></script>
  </head>
  <body>
    <h1>Computational Thinking Cards</h1>
    <video id="video1" width="300" height="200" style="border: 1px solid gray"></video>
    <video id="video2" width="300" height="200" style="border: 1px solid gray"></video>
  </body>
</html>
